<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
	<h1>boardDetail</h1>

	<table border="1">
		<tr>
			<td>boardDetail</td>
		</tr>

		<tr>
			<td th:text="${boardDetail.boardtitle}"></td>
		</tr>
		<tr>
			<td><textarea rows="10" cols="10"
					th:text=${boardDetail.boardcontent}></textarea></td>
		</tr>

		<tr>
			<td class="btn btn-default">수정</td>
			<td class="btn btn-default">삭제</td>
		</tr>
	</table>

</body>
</html>